<footer id="footer" class="footer--style-1">
    <div class="footer__bottom-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="footer__copy">© 2018 AAMC | 655 K Street, NW, Washington, DC, 20001</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right footer-privacy">
                    <a href="https://www.aamc.org/44866/privacy.html" target="_blank">Privacy</a> |
                    <a href="https://www.aamc.org/44864/terms.html" target="_blank">Terms &amp; Conditions</a> |
                    <a href="https://www.aamc.org/about/contact/" target="_blank">Contact AAMC</a>
                </div>
            </div>
        </div>
    </div>
</footer>